:root {
  --cinza-DNC: #2d2d2d;
  --azul-DNC: #0c70f2;
  --azul-escuro-DNC: #0a499c;
  --cinza-escuro-DNC: #181818;
}

.lista_produtos {
  padding: 2em 15%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cinza-DNC);
  height: auto;
  align-items: center;
  vertical-align: middle;
  gap:2em;
}

.banner_principal {
  margin: auto;
  width: 100%;
  display: grid;
}

.banner_principal img {
  width: 100%;
}

.card_produto {
  background-color: white;
  display: grid;
  grid-auto-flow: row;
  margin: auto;
  padding: 1em;
  margin: 2em auto;
  width:25em;
  height:30em;
}

.box_produto {
  border-radius: 10px 10px 0 0;
}

.box_produto img {
  border-radius: 10px 10px 0 0;
}

.descricao_produto {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14pt;
  text-align: center;
  width: 12em;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
}

/* .botao_azul {
  background-color: var(--azul-DNC);
  height: 2em;
  width: 100%;
  color: white;
  border: none;
  margin: 2em auto;
  padding: 1.5em;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12pt;
  transition: all 500ms;
  cursor: pointer;
  text-decoration: none;
} */

.botao_azul:hover {
  background-color: var(--azul-escuro-DNC);
  transition: all 500ms;
}