:root {
  --cinza-DNC: #2d2d2d;
  --azul-DNC: #0c70f2;
  --azul-escuro-DNC: #0a499c;
  --cinza-escuro-DNC: #181818;
}

header {
  background-color: var(--cinza-DNC);
  height: 8em;
  display: grid;
  align-items: center;
  padding: 1em;
}

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

main {
  padding: 4em 6em;
  margin: auto;
}

form {
  display: grid;
  vertical-align: middle;
  justify-content: center;
  margin: 1em auto;
}

label {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-family: "Raleway", sans-serif;
}

input {
  height: 4em;
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  border: solid 2px #7a7a7a;
  width: 30em;
}

input:focus {
  background-color: var(--cinza-DNC);
  color: white;
}

/* .botao_azul {
  background-color: var(--azul-DNC);
  height: 2em;
  color: white;
  border: none;
  margin: 2em auto;
  padding: 1.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 12pt;
  transition: all 500ms;
  cursor: pointer;
  text-decoration: none;
} */

.botao_azul:hover {
  background-color: var(--azul-escuro-DNC);
  transition: all 500ms;
}
