@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
  --cinza-DNC: #2d2d2d;
  --azul-DNC: #0c70f2;
  --azul-escuro-DNC: #0a499c;
  --cinza-escuro-DNC: #181818;
}

*{
  box-sizing: border-box;
}

.App {
  font-family: "Raleway", sans-serif;
}

.border10 {
  border-radius: 10px;
}

.border100 {
  border-radius: 100px;
}

.modal {
  height: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
  justify-content: space-around;
  display: grid;
  grid-auto-flow: column;
  vertical-align: middle;
  align-items: center;
}

.area_modal{
  top:0;
  z-index:1;
  position: absolute;
  visibility: hidden;
  display: grid;
  grid-auto-flow: column;
  vertical-align: middle;
  align-items: center;
  margin: auto;
  padding:15%;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
}

.botao_azul {
  background-color: var(--azul-DNC);
  height: 2em;
  width: 100%;
  color: white;
  border: none;
  margin: 2em auto;
  padding: 1.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 12pt;
  transition: background-color 500ms;
  cursor: pointer;
  text-decoration: none;
}

.botao_azul:hover {
  background-color: var(--azul-escuro-DNC);
  transition: background-color 500ms;
}

.botao_cinza {
  background-color: var(--cinza-DNC);
  height: 2em;
  width: 100%;
  color: white;
  border: none;
  margin: 2em auto;
  padding: 1.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 12pt;
  transition: background-color 500ms;
  cursor: pointer;
  text-decoration: none;
}

.botao_cinza:hover {
  background-color: var(--cinza-escuro-DNC);
  transition: background-color 500ms;
}